body {
  font-family: 'Poppins', sans-serif;
  color: #22343d;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 15px 20px;
}

.green-btn {
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
  background: #02897a;
  border: none;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.logo-img {
  margin-right: 16px;
}

.header-nav {
  margin-left: auto;
  margin-right: 73px;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.list-link {
  font-weight: 400;
  line-height: 1.75;
  color: #22343d;
}

.active {
  font-weight: 600;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 21px;
}

.btn-sign {
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}

.sign-in {
  text-align: center;
  color: #173a56;
  background-color: #fff;
  border: 1px solid #bcd0e5;
  width: 105px;
  height: 42px;
}

.sign-up {
  color: #fff;
  background-color: #02897a;
  border: none;
  width: 113px;
  height: 42px;
}

.hero-container {
  display: flex;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 45px;
}

.hero-buttons {
  display: flex;
}

.hero-btn-start {
  width: 178px;
  height: 53px;
  border: none;
  cursor: pointer;
  margin-right: 30px;
}

.video-button {
  display: flex;
  align-items: center;
  max-width: 164px;
}

.video-icon {
  fill: #02897a;
}

.hero-btn-video {
  width: 164px;
  height: 23px;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  background: none;
  border: none;
  cursor: pointer;
}

.desc-title {
  font-weight: 700;
  font-size: 32px;
  margin: 0 auto;
  text-align: center;
  max-width: 539px;
  margin-bottom: 50px;
}

.desc-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.desc-item {
  flex-basis: calc((100% - 30px * 3) / 4);
}

.desc-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 19px;
  margin-bottom: 20px;
}

.icon-green {
  background-color: #02897a;
}

.icon-blue {
  background-color: #4d8dff;
}

.icon-purple {
  background-color: #740a76;
}

.icon-red {
  background-color: #f03e3d;
}

.desc-icon {
  fill: #fff;
}

.desc-subtitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}

.desc-btn {
  display: block;
  width: 175px;
  height: 53px;
  margin: 0 auto;
}

.management-title {
  max-width: 224px;
  display: inline-block;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 25px;
}

.management-span {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
}

.team-aftertitle {
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
}

.team-text {
  font-weight: 500;
  text-align: center;
  color: #2f281e;
}

.strategies-title {
  font-weight: 700;
  font-size: 34px;
}

.strategies-text {
  font-weight: 500;
  line-height: 1.625;
}
